[submodule "CodeMechanic.Embeds"]
	path = CodeMechanic.Embeds
	url = https://github.com/nickpreston24/CodeMechanic.Embeds.git
[submodule "CodeMechanic.Embeds.SourceGen"]
	path = CodeMechanic.Embeds.SourceGen
	url = https://github.com/nickpreston24/CodeMechanic.Embeds.SourceGen.git
[submodule "Drip.UI"]
	path = Drip.UI
	url = https://github.com/nickpreston24/Drip.UI.git
[submodule "thecodemechanic"]
	path = thecodemechanic
	url = https://github.com/nickpreston24/thecodemechanic.git
[submodule "Drip.UI.SourceGen"]
	path = Drip.UI.SourceGen
	url = https://github.com/nickpreston24/Drip.UI.SourceGen.git
